Package: dev-uoskit-toolkit
Version: 2.2.3
Architecture: all
Maintainer: uos <uos@uniontech.com>
Secion: utils
Priority: optional
Installed_Size: 36
Description: uoskit工具，适合UOS开发工作。快捷执行开发命令，安装后执行uoskit即可查看帮助信息。
